{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
	<br>
	<div class="jumbotron">
	  <h1 class="display-4">Find out what people are saying about _____.</h1>
	  <p>Use our service to perform <b>sentiment analysis</b> on any keyword of your choosing using the latest social media data from Twitter.</p>
	  <br>
	  <a class="btn btn-primary btn-lg" href="#" role="button">Log-in</a>
	  <a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
	</div>


	<div class="row">
          <div class="col-md-4">
            <h2>What does this do?</h2>
            <p><b>Twitter Sentiment Analysis</b> is a Software-as-a-Service (SaaS) platform for user-friendly and cost-effective sentiment analysis of social media data on Twitter. </p>
            <p>Our platform automatically scrapes Twitter and runs a sentiment analysis algorithm to determine on a scale of -10 to 10 how negatively or positively people are talking using a given keyword.</p>
          </div>
          <div class="col-md-4">
            <h2>Who is this for?</h2>
            <p>This service can be used by any non-technical or technical person interested in easily exploring sociological data, including but not limited to:</p>
            <ul>
            	<li>Researchers</li>
            	<li>Customer analysts</li>
            	<li>Social media managers</li>
            	<li>Investors</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2>How does it work?</h2>
            <ol>
            	<li>Go to your dashboard and the Create Job button.</li>
            	<li>Enter a hashtag you want to analyze for sentiment.</li>
            	<li>Wait a few minutes and return to your dashboard to see the results.</li>
            </ol>
            <p><a class="btn btn-secondary" href="/register" role="button">Get started &raquo;</a></p>
          </div>
        </div>

</div>

{% endblock %}
