{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}

<div class="container">
	<br>
	{% if messages %}
	    {% for message in messages %}
	        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
	    {% endfor %}
	{% endif %}

	{% if user.is_authenticated %}
		<h2>Welcome, <b>{{ user.username }}</b>!</h2>
		<p><i>Create a new job below, or click the ID of an existing job to see its detailed results. Click "View results" to see all completed jobs with their corresponding sentiment scores.</i></p>
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createjob"><span class="glyphicon glyphicon-plus"></span> Create job</button>
		<a href="../dashboard"><button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-th-list"></span> View results</button></a>

		<br><br>

	    <div class="modal" id="createjob">
	        <div class="modal-dialog">
	            <div class="modal-content">
	            	<form action="../submit_job/" method="post">{% csrf_token %}
		                <div class="modal-header">
		                    <h4 class="modal-title">Create job</h4>
		                    <button type="button" class="close" data-dismiss="modal">&times;</button>
		                </div>
		                <div class="modal-body">
		                    <p>Create a new job here. Jobs typically complete executing within 5 to 10 minutes to allow for web scraping.</p>
		                    <div class="form-group">
		                        <label for="tagHash">Enter hashtag:</label>
		                        <input type="text" class="form-control" id="inputTwitterHashtag" name="inputTwitterHashtag">
		                    </div>
		                    <div class="form-group">
		                        <label for="exampleFormControlTextarea1">Notes (optional):</label>
		                        <textarea class="form-control" name="notesText" rows="3"></textarea>
		                    </div>
		                </div>
		                <div class="modal-footer">
		                    <input type="submit" class="btn btn-info" value="Submit">
		                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		                </div>
		            </form>
	            </div>
	        </div>
	    </div>
	    {% render_table table %}
	    <div class="modal" id="viewjob">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h4 class="modal-title">View Job</h4>
	                    <button type="button" class="close" data-dismiss="modal">&times;</button>
	                </div>
	                <div class="modal-body">
	                    This is where the jobs get viewed after they're created.
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	                </div>
	            </div>
	        </div>
	    </div>
	{% else %}
		<p>You must be logged in to view this page.</p>
  		<a href="{% url 'login' %}">Login</a>
	{% endif %}

</div>

{% endblock %}
