{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
	<br>

	{% if messages %}
	    {% for message in messages %}
	        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
	    {% endfor %}
	{% endif %}
	
	<form action="" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="usr">Username:</label>
            <input type="text" class="form-control" id="usr" name="username">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="password">
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    Don't have an account? <a href="register/">Sign Up</a>
</div>

{% endblock %}
